@model CdiscountMarketPlaceApi_WebApp.Models.OfferManager.GetOfferListMessage

@{
    ViewData["Title"] = "GetOfferList";
}

<br/>
<br />
<div>
    <h4>GetOfferList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parameters
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model._Token) :
            @Html.DisplayFor(model => model._Token)
        </dd>
        <dt>
            Request
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._RequestXML)</pre>
        </dd>
        <dt>
            Response
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._MessageXML)</pre>
        </dd>
    </dl>
</div>

