@model CdiscountMarketPlaceApi_WebApp.Models.GetProductPackageSubmissionResultMessage

@{
    ViewData["Title"] = "GetProductPackageSubmissionResult";
}

<h2>GetProductPackageSubmissionResult</h2>

<div>
    <h4>GetProductPackageSubmissionResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parameters
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model._Token) :
            @Html.DisplayFor(model => model._Token)
        </dd>
        <dt>
            Request
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._GetProductPackageSubmissionResultRequestXML)</pre>
        </dd>
        <dt>
            Response
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._GetProductPackageSubmissionResultMessageXML)</pre>
        </dd>
    </dl>
</div>

