@model CdiscountMarketPlaceApi_WebApp.Models.GetProductListByIdentifierMessage

@{
    ViewData["Title"] = "GetProductListByIdentifier";
}

<h2>GetProductList</h2>

<div>
    <h4>GetProductList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parameters
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model._Token) :
            @Html.DisplayFor(model => model._Token)
        </dd>
        <dt>
            Request
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._ProductListByIdentifierRequestXML)</pre>
        </dd>
        <dt>
            Response
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._ProductListByIdentifierMessageXML)</pre>
        </dd>
    </dl>
</div>

