@model CdiscountMarketPlaceApi_WebApp.Models.ProductManager

@{
    ViewData["Title"] = Model._SelectedFeature;
}

<h2>MyCategoryTreeMessage</h2>

<div>
    <h4>Model._SelectedFeature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parameters
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model._Token) :
            @Html.DisplayFor(model => model._Token)
        </dd>
        <dt>
            Request
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._RequestXML)</pre>
        </dd>
        <dt>
            Response
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._MessageXML)</pre>
        </dd>
    </dl>
</div>

