@model CdiscountMarketPlaceApi_WebApp.Models.SubmitProductPackageMessage

@{
    ViewData["Title"] = "SubmitProductPackageMessage";
}

<h2>SubmitProductPackageMessage</h2>

<div>
    <h4>SubmitProductPackage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parameters
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model._Token) :
            @Html.DisplayFor(model => model._Token)
        </dd>
        <dt>
            Request
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._ProductIntegrationReportRequestXML)</pre>
        </dd>
        <dt>
            Response
        </dt>
        <dd>
            <pre> @Html.DisplayFor(model => model._ProductIntegrationReportMessageXML)</pre>
        </dd>
    </dl>
</div>

