<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Production.svc" value="https://sts.cdiscount.com/users/httpIssue.svc" />
    <add key="Preproduction.svc" value="https://sts.preprod-cdiscount.com/users/httpIssue.svc" />
    <add key="Recette.svc" value="https://sts.recette-cdiscount.com/users/httpIssue.svc" />
    <add key="Dev.svc" value="http://10.10.110.186:300/users/httpIssue.svc" />
    <add key="Sandbox.svc" value="http://localhost:2963/users/httpIssue.svc" />
    <add key="Production.realm" value="https://sts.cdiscount.com/MarketplaceAPIService.svc" />
    <add key="Preproduction.realm" value="https://wsvc.preprod-cdiscount.com/MarketplaceAPIService.svc" />
    <add key="Recette.realm" value="https://wsvc.recette-cdiscount.com/MarketplaceAPIService.svc" />
    <add key="Dev.realm" value="http://10.10.110.186:5080/MarketplaceAPIService.svc" />
    <add key="Sandbox.realm" value="http://localhost:8030/MarketplaceAPIService.svc" />
  </appSettings>
  <system.serviceModel>
    <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IMarketplaceAPIService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxReceivedMessageSize="52428800">
        <security mode="Transport" />
      </binding>
    </basicHttpBinding>
      </bindings>
      <client>
      <endpoint name="MarketplaceAPIService_Local" address="http://localhost:8030/MarketplaceAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService" contract="CdscntMkpApiReference_Prod.IMarketplaceAPIService" />
      <endpoint name="MarketplaceAPIService_Sandbox" address="https://wsvc.dev-cdiscount.com/MarketplaceAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService" contract="CdscntMkpApiReference_Prod.IMarketplaceAPIService" />
      <endpoint name="MarketplaceAPIService_Dev" address="https://wsvc.dev-cdiscount.com/MarketplaceAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService" contract="CdscntMkpApiReference_Prod.IMarketplaceAPIService" />
      <endpoint name="MarketplaceAPIService_Recette" address="https://wsvc.recette-cdiscount.com/MarketplaceAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService" contract="CdscntMkpApiReference_Prod.IMarketplaceAPIService" />
      <endpoint name="MarketplaceAPIService_Preproduction" address="https://wsvc.preprod-cdiscount.com/MarketplaceAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService" contract="CdscntMkpApiReference_Prod.IMarketplaceAPIService" />
      <endpoint name="MarketplaceAPIService_Production" address="https://wsvc.cdiscount.com/MarketplaceAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketplaceAPIService" contract="CdscntMkpApiReference_Prod.IMarketplaceAPIService" />
    </client>
  </system.serviceModel>
</configuration>
